body{
    margin: 0;
    padding: 0;
    background-color: #011F3F;
    text-align: center;
    margin-top:3rem;
}

.message{
    text-align: center;
    color:bisque;
    font-size: 2.5rem;
    font-family: 'Press Start 2P', cursive;
    line-height:1.5;
}

#highscore{
    font-size: 1.5rem;
}

.btn {
    margin-top:10px;
    position: relative;
    background: #323333;
    background-image: -webkit-linear-gradient(top, #323333, #0268a8);
    background-image: -moz-linear-gradient(top, #323333, #0268a8);
    background-image: -ms-linear-gradient(top, #323333, #0268a8);
    background-image: -o-linear-gradient(top, #323333, #0268a8);
    background-image: linear-gradient(to bottom, #323333, #0268a8);
    -webkit-border-radius: 28;
    -moz-border-radius: 70%;
    border-radius: 10%;
    text-shadow: 0px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    font-size: 2rem;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

.front{
    text-align:center;
    margin: 0;
    padding-top: 15%;
    position: absolute;
    top:0;
    height:100%;
    width:100%;
    background-color: black;

}
.container {
    display: block;
    width: 50%;
    margin: auto;
  }
button{
    margin: 25px;
    display: inline-block;
    height: 13rem;
    width: 13rem;
    border: 10px solid black;
    border-radius: 20%;
  }

#green{
    background-color:green;
}
#red{
    background-color:red;
}
#yellow{
    background-color:yellow;
}
#blue{
    background-color:blue;
}
.flash{
    box-shadow: 0 0 20px white;
    background-color: grey!important;
}
.row{
    text-align: center;
}